div(class="afterparty clear-edges")
    div(class="wrap")
        div(class="row")
            div(class="col-xs-2")
                div(class="schedule-item__time schedule-item__time_white") 20:00
            div(class="col-xs-1 hidden-xs")
                i(class="icon-afterparty")

            div(class="col-xs-10 col-sm-9")
                div(class="afterparty__text") Afterparty в «Название места» (ул. Уличная, 283а)
