div(class="footer")
    div(class="wrap")
        div(class="row")
            div(class="col-sm-offset-3 col-sm-6")
                h1(class="schedule-title t-C") Связаться с нами

                div(class="schedule-item__subject t-C") По всем вопросам пишите на&nbsp;
                    a(href="mailto: hello@vldc.ru") hello@vldc.ru

                div(class="socials row")
                    div(class="col-sm-3 col-xs-3")
                        a(href="#",class="socials__icon")
                    div(class="col-sm-3 col-xs-3")
                        a(href="#", class="socials__icon socials__icon_fb")
                    div(class="col-sm-3 col-xs-3")
                        a(href="#", class="socials__icon socials__icon_vk")
                    div(class="col-sm-3 col-xs-3")
                        a(href="#", class="socials__icon socials__icon_gp")
                div(class="copy") &copy; 2013, VLDC
