- var socials = [{href:"http://twitter.com/vldcru", class:"socials__icon"}, {href:"http://facebook.com/groups/424840274208231/", class:"socials__icon socials__icon_fb"}, {href:"http://vk.com/vldcru", class:"socials__icon socials__icon_vk"}, {href:"http://plus.google.com/u/0/communities/109714938062789336992", class:"socials__icon socials__icon_gp"}];
div(class="footer")
    div(class="wrap")
        div(class="row", id="contact")
            div(class="col-sm-offset-3 col-sm-6")
                h1(class="schedule-title t-C") Связаться с нами

                div(class="schedule-item__subject t-C") По всем вопросам пишите на&nbsp;
                    a(href="mailto: hello@vldc.ru") hello@vldc.ru

                div(class="socials row")
                    - each social in socials
                        div(class="col-sm-3 col-xs-3")
                            a(href=social.href, class=social.class, target="_blank")
                div(class="copy") &copy; 2013, VLDC

script(src='http://yandex.st/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript')
        window.jQuery || document.write("<script type='text/javascript' src='js/jquery-1.9.1.min.js'><\\/script>");
      script(type='text/javascript', src='js/main.js')

script(type='text/javascript')
    var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8603383-3']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
