extends layout
include member_form
block content
    div(class="content")
        .intro.clear-edges
            .intro__top.clear-edges
                .wrap
                  .row
                    .col-xs-2
                      h1.main-title VLDC
                      i.schedule-icon.schedule-icon_counter.hidden-xs
                    .col-xs-10
                      .pull-right
                        ul.menu-h.menu.intro__menu.js-smooth-scroll
                          li
                            a(href='#schedule') Участники, доклады, расписание
                          li
                            a(href='#partners') Партнеры
                          li
                            a(href='#contact') Связаться с нами
              .wrap
                .row
                  .col-sm-8.col-sm-offset-2
                    h1.intro__promo-title Самый большой ивент для разработчиков на Дальнем Востоке
                    .row.post-y-2
                      .col-xs-6
                        .intro__text-icon 4 ноября, понедельник (выходной), начало в 12:00
                      .col-xs-6
                        .intro__text-icon.intro__text-icon_loc
                          | ТКК «Underground» ул. Гоголя,
                          | 39a
                    //
                      <div class="fucking-cat"></div>
                    img.nyancat(src='images/nyancat.png', alt='')
                    .row
                      //
                        <div class="col-xs-6">
                      //
                        <button class="intro__join-btn js-participate">
                      //
                        Принять участие
                      //
                        <span class="intro__join-btn-small">Это бесплатно</span>
                      //
                        </button>
                      //
                        </div>


        div(class="wrap")
            include schedule
        include afterparty
        include vacancy_and_sponsors

