!!! 5
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title #{title}
        meta(name='description', content='')
        meta(property='og:image', content='http://www.vldc.ru/images/social-graph.png')
        meta(property='og:title', content='Третья конференция VLDC посвященная робототехнике, разработке и архитектуре приложений, созданию команд, дизайну и многому другому. Ивент будет 4 ноября, понедельник (всероссийский выходной), начало в 12:00 в концертном комплексе «Underground» (ул. Гоголя, 39a).')
        link(href='http://fonts.googleapis.com/css?family=Roboto:300,400&subset=latin,cyrillic',rel='stylesheet',type='text/css')
        link(rel='stylesheet', href='/css/style.css')
        //if lte IE 8
            link(rel="stylesheet", href="css/ie8.css")
    body
        div(class="body")
            if flash
                if error
                    flashClass = "flash red"
                else
                    flashClass = "flash green"
                div(class=flashClass) #{flash}
            block content
            include footer
        script(src="http://yandex.st/jquery/1.9.1/jquery.min.js")
        script(type="text/javascript")
            window.jQuery || document.write("<script type='text/javascript' src='js/jquery-1.9.1.min.js'><\/script>");
        script(type="text/javascript", src="js/main.js")
