div(class="schedule", id="schedule")
    div(class="row schedule-item schedule-item_head")
        div(class="col-xs-2")
            i(class="schedule-icon schedule-icon_time")
        div(class="col-xs-10")
            h1(class="schedule-title") Участники, доклады, расписание</h1>
    div(class="row schedule-item")
        div(class="col-xs-2")
            div(class="schedule-item__time schedule-item__time_big") 12:00
        div(class="col-xs-10")
            div(class="schedule-item__name") Начало
        
    
    div(class="row schedule-item")
        div(class="col-xs-2")
            div(class="schedule-item__group") Менеджмент
            div(class="schedule-item__time") 12:20
        div(class="col-xs-2 hidden-xs")
            div(class="schedule-item__ava")
                div(class="b-polygon b-polygon_hexagon")
                    div(class="b-polygon-part")
                        div(class="b-polygon-part b-polygon-part_content")
                            div(class="b-polygon-part_content-wrapper")
                                img(src="images/speaker-defterr.jpg", alt="Александр Скороходов")
                            
        div(class="col-xs-10 col-sm-8")
            p
                span(class="schedule-item__name") Александр Скороходов
                span(class="schedule-item__firm") KamaGames Studio

            div(class="schedule-item__subject") «Спасти рядового менеджера»
            p Кто создает продукт, и при чем вообще тут проектный менеджер?
               | Почему менеджер часто оказывается в роли фашиста, обреченного конечно же на расстрел?
               | Действительно ли важно иметь главного отвечающего за результат?

    
    div(class="row schedule-item")
        div(class="col-xs-2")
            div(class="schedule-item__group") Менеджмент
            div(class="schedule-item__time") 13:00
        div(class="col-xs-2 hidden-xs")
            div(class="schedule-item__ava")
                div(class="b-polygon b-polygon_hexagon")
                    div(class="b-polygon-part")
                        div(class="b-polygon-part b-polygon-part_content")
                            div(class="b-polygon-part_content-wrapper")
                                img(src="images/speaker-alexanin.jpg", alt="Григорий Алексанин")
        div(class="col-xs-10 col-sm-8")
            p
                span(class="schedule-item__name") Григорий Алексанин
                span(class="schedule-item__firm") Hot Lava
            div(class="schedule-item__subject") «Как приручить зомби»
            p Расскажет как он и его команда проектировала, создавала и запускала в продажу игру Zombie Zombie Zombie (которая уже доступна в AppStore, кстати ;).


    div(class="row schedule-item")
        div(class="col-xs-2")
            div(class="schedule-item__group") Менеджмент
            div(class="schedule-item__time") 13:40

        div(class="col-xs-2 hidden-xs")
            div(class="schedule-item__ava")
                div(class="b-polygon b-polygon_hexagon")
                    div(class="b-polygon-part")
                        div(class="b-polygon-part b-polygon-part_content")
                            div(class="b-polygon-part_content-wrapper")
                                img(src="images/speaker-alexander.jpg", alt="Александр Курицын")

        div(class="col-xs-10 col-sm-8")
            p
                span(class="schedule-item__name") Александр Курицын
                span(class="schedule-item__firm") независимый IT консультант

            div(class="schedule-item__subject") «Разбитые мечты и испорченные телефоны. Управление требованиями в небольших IT компаниях»
            p Доклад рассчитан на руководителей проектов и их заказчиков. Будут рассмотрены вопросы сбора, организации и последующей работы с требованиями и запросами на изменение.


    div(class="row schedule-item")
        div(class="col-xs-2")
            div(class="schedule-item__group") Разработка
            div(class="schedule-item__time") 14:20
        div(class="col-xs-2 hidden-xs")
            div(class="schedule-item__ava")
                div(class="b-polygon b-polygon_hexagon")
                    div(class="b-polygon-part")
                        div(class="b-polygon-part b-polygon-part_content")
                            div(class="b-polygon-part_content-wrapper")
                                img(src="images/speaker-webdev.jpg", alt="Антон Коренской")
        div(class="col-xs-10 col-sm-8")
            p
                span(class="schedule-item__name") Антон Коренской
                span(class="schedule-item__firm") s25.ru
            div(class="schedule-item__subject") «Chrome DevTools, в помощь верстальщику»
            p В докладе пойдёт речь о возможностях devtools, которые ежедневно облегчают жизнь многим веб-разработчикам. Возможно, многие из них вам знакомы, но некоторые могут оказаться приятным сюрпризом.


    div(class="row schedule-item")
        div(class="col-xs-2")
            i(class="schedule-icon_break")
            div(class="schedule-item__time schedule-item__time_break") 15:00

        div(class="col-xs-10")
            h1(class="schedule-item__name") Кофе-брейк


    div(class="row schedule-item")
        div(class="col-xs-2")
            div(class="schedule-item__group") Разработка
            div(class="schedule-item__time") 15:40

        div(class="col-xs-2 hidden-xs")
            div(class="schedule-item__ava")
                div(class="b-polygon b-polygon_hexagon")
                    div(class="b-polygon-part")
                        div(class="b-polygon-part b-polygon-part_content")
                            div(class="b-polygon-part_content-wrapper")
                                img(src="images/speaker-andrey.jpg", alt="Андрей Сахаров")

        div(class="col-xs-10 col-sm-8")
            p
                span(class="schedule-item__name") Андрей Сахаров
                span(class="schedule-item__firm") FEFU AUV team

            div(class="schedule-item__subject") «Underwater kernel panic. Робототехника изнутри»
            p С какими сложностями сталкивается разработчик, когда дело касается создания подводных аппаратов. И как вообще всё это работает.



    div(class="row schedule-item")
        div(class="col-xs-2")
            div(class="schedule-item__group") Разработка
            div(class="schedule-item__time") 16:30

        div(class="col-xs-2 hidden-xs")
            div(class="schedule-item__ava")
                div(class="b-polygon b-polygon_hexagon")
                    div(class="b-polygon-part")
                        div(class="b-polygon-part b-polygon-part_content")
                            div(class="b-polygon-part_content-wrapper")
                                img(src="images/speaker-cpro.jpg", alt="Сергей Мелехин")

        div(class="col-xs-10 col-sm-8")
            p
                span(class="schedule-item__name") Сергей Мелехин
                span(class="schedule-item__firm") Emply.ru

            div(class="schedule-item__subject") «Халява, плиз!»
            p Поговорим о том, какие супервозможности может получить смертный разработчик от облачной благодати интернет-гигантов безвозмездно, то есть даром.



    div(class="row schedule-item")
        div(class="col-xs-2")
            div(class="schedule-item__group") Разработка
            div(class="schedule-item__time") 17:00

        div(class="col-xs-2 hidden-xs")
            div(class="schedule-item__ava")
                div(class="b-polygon b-polygon_hexagon")
                    div(class="b-polygon-part")
                        div(class="b-polygon-part b-polygon-part_content")
                            div(class="b-polygon-part_content-wrapper")
                                img(src="images/speaker-dybovoy.jpg", alt="Юрий Дубовой")

        div(class="col-xs-10 col-sm-8")
            p
                span(class="schedule-item__name") Юрий Дубовой
                span(class="schedule-item__firm") KamaGames Studio

            div(class="schedule-item__subject") «Tizen. Да придет open source»
            p Доклад посвящен нео-языческому культу Тай-Дзен и теме основных религиозных течений вообще в сфере мобильной разработки. Будут рассмотрены общая идеология Тай-Дзен, основные медитативные практики и реальный опыт одного из адептов культа.


    div(class="row schedule-item")
        div(class="col-xs-2")
            div(class="schedule-item__group") Фриспич
            div(class="schedule-item__time") 17:30

        div(class="col-xs-2 hidden-xs")
            div(class="schedule-item__ava")
                div(class="b-polygon b-polygon_hexagon")
                    div(class="b-polygon-part")
                        div(class="b-polygon-part b-polygon-part_content")
                            div(class="b-polygon-part_content-wrapper")
                                img(src="images/speaker-ilyamirin.jpg", alt="Илья Мирин")

        div(class="col-xs-10 col-sm-8")
            p
                span(class="schedule-item__name") Илья Мирин
                span(class="schedule-item__firm") Rhonda, Ltd/nScaled, Inc

            div(class="schedule-item__subject") «Ближайшие перспективы человечества.»
            p Человечество на глазах тупеет и радостно летит прямиком в ад. Как на этом может заработать простой IT пролетарий/капиталист?


