div(class="wrap") 
    div(class="vacancy") 
        div(class="row") 
            div(class="hidden-xs col-sm-2") 
                i(class="schedule-icon schedule-icon_vacancy") 
            
            div(class="col-xs-12 col-sm-10") 
                h1(class="schedule-title") Вакансии для разработчиков

                div(class="main-partner shadowed-block") 
                    div(class="main-partner__badge") Генеральный партнер
                    div(class="main-partner__logo") 
                        img(src="images/farpost-logo.png",alt="")
                    
                    div(class="main-partner__desc") 
                        div(class="schedule-item__name") Farpost
                        p
                            a(class="main-partner__link", href="#") www.farpost.ru

                        p(class="main-partner__vac-desc") Менеджер по работе с кинотеатрами и концертными
                            | площадками для VL.ru
                    
                
            
            div(class="col-xs-6 col-sm-4 col-sm-offset-2") 
                div(class="other-partner") 
                    div(class="schedule-item__name") Kamagames
                    p
                        a(class="main-partner__link", href="#") www.kamagames.com

                    p(class="main-partner__vac-desc") Ищем уборщицу</p>
                
                div(class="other-partner") 
                    div(class="schedule-item__name") Kamagames
                    p
                        a(class="main-partner__link", href="#") www.kamagames.com

                    p(class="main-partner__vac-desc") Ищем уборщицу
                
            
            div(class="col-xs-6 col-sm-4 col-sm-offset-1") 
                div(class="other-partner") 
                    div(class="schedule-item__name") Kamagames
                    p
                        a(class="main-partner__link", href="#") www.kamagames.com

                    p(class="main-partner__vac-desc") Ищем уборщицу
                
                div(class="other-partner") 
                    div(class="schedule-item__name") Kamagames
                    p
                        a(class="main-partner__link", href="#") www.kamagames.com

                    p(class="main-partner__vac-desc") Ищем уборщицу

    div(class="sponsors")
        div(class="row") 
            div(class="hidden-xs col-sm-2") 
                i(class="schedule-icon schedule-icon_sponsor")
            
            div(class="col-xs-12 col-sm-10") 
                h1(class="schedule-title") Партнеры и спонсоры

                div(class="row") 
                    div(class="col-xs-6 col-sm-4") 
                        div(class="shadowed-block sponsors__item") 
                            div(class="main-partner__badge main-partner__badge_sponsors") Генеральный партнер
                            div(style="width: 220px; height: 140px;") 
                        
                    
                    div(class="col-xs-6 col-sm-4") 
                        div(class="shadowed-block sponsors__item") 
                            div(class="main-partner__badge main-partner__badge_sponsors") Генеральный партнер
                            div(style="width: 220px; height: 140px;") 
                        
                    
                    div(class="col-xs-6 col-sm-4") 
                        div(class="shadowed-block sponsors__item") 
                            div(style="width: 220px; height: 140px;") 
                        
                    
                    div(class="col-xs-6 col-sm-4") 
                        div(class="shadowed-block sponsors__item") 
                            div(style="width: 220px; height: 140px;") 
                        
                    
                    div(class="col-xs-6 col-sm-4") 
                        div(class="shadowed-block sponsors__item") 
                            div(class="main-partner__badge main-partner__badge_sponsors") Генеральный партнер
                            div(style="width: 220px; height: 140px;") 
                        
                    
                    div(class="col-xs-6 col-sm-4") 
                        div(class="shadowed-block sponsors__item") 
                            div(style="width: 220px; height: 140px;")
