div(class="wrap")
    #vacancy.vacancy
        .row
            .hidden-xs.col-sm-2
                i.schedule-icon.schedule-icon_vacancy
            .col-xs-12.col-sm-10
                h1.schedule-title Вакансии для разработчиков
                .main-partner.shadowed-block
                    .main-partner__badge Генеральный партнер
                    .main-partner__logo
                        img(src='images/farpost-logo.png', alt='')
                    .main-partner__desc
                        .schedule-item__name Farpost
                        p
                            a.main-partner__link(href='#') www.farpost.ru
                        p.main-partner__vac-desc
                            | Менеджер по работе с кинотеатрами и концертными
                            | площадками для VL.ru
            .col-xs-6.col-sm-4.col-sm-offset-2
                .other-partner
                    .schedule-item__name Kamagames
                    p
                        a.main-partner__link(href='#') www.kamagames.com
                    p.main-partner__vac-desc Ищем уборщицу
                .other-partner
                    .schedule-item__name Kamagames
                    p
                        a.main-partner__link(href='#') www.kamagames.com
                    p.main-partner__vac-desc Ищем уборщицу
            .col-xs-6.col-sm-4.col-sm-offset-1
                .other-partner
                    .schedule-item__name Kamagames
                    p
                        a.main-partner__link(href='#') www.kamagames.com
                    p.main-partner__vac-desc Ищем уборщицу
                .other-partner
                    .schedule-item__name Kamagames
                    p
                        a.main-partner__link(href='#') www.kamagames.com
                    p.main-partner__vac-desc Ищем уборщицу

        div(class="sponsors", id="partners")
        div(class="row") 
            div(class="hidden-xs col-sm-2") 
                i(class="schedule-icon schedule-icon_sponsor")
            
            div(class="col-xs-12 col-sm-10") 
                h1(class="schedule-title") Партнеры и спонсоры

                div(class="row") 
                    div(class="col-xs-6 col-sm-4") 
                        div(class="shadowed-block sponsors__item") 
                            div(class="main-partner__badge main-partner__badge_sponsors") Генеральный партнер
                            a(class="sponsors__item-link", href="http://farpost.ru", target="_blank")
                                img(src="images/partners-farpost.png")

                    div(class="col-xs-6 col-sm-4")
                        div(class="shadowed-block sponsors__item")
                            div(class="main-partner__badge main-partner__badge_sponsors") Генеральный партнер
                            a(class="sponsors__item-link", href="http://q-online.ru", target="_blank")
                                img(src="images/partners-q.png")

                    div(class="col-xs-6 col-sm-4")
                        div(class="shadowed-block sponsors__item")
                            a(class="sponsors__item-link", href="http://mts.ru", target="_blank")
                                img(src="images/partners-mts.png")

                    div(class="col-xs-6 col-sm-4")
                        div(class="shadowed-block sponsors__item")
                            a(class="sponsors__item-link", href="http://vladivostok.2gis.ru/", target="_blank")
                                img(src="images/partners-2gis.png"))

                    div(class="col-xs-6 col-sm-4")
                        div(class="shadowed-block sponsors__item")
                            a(class="sponsors__item-link", href="http://kamagames.com/", target="_blank")
                                img(src="images/partners-kamagames.png"))

                        
                    div(class="col-xs-6 col-sm-4")
                        div(class="shadowed-block sponsors__item")
                            a(class="sponsors__item-link", href="http://barbers-shop.ru/", target="_blank")
                                img(src="images/partners-firma.png")


                    div(class="col-xs-6 col-sm-4")
                        div(class="shadowed-block sponsors__item")
                            a(class="sponsors__item-link", href="http://vl.ru", target="_blank")
                                img(src="images/partners-vlru.png")

                    div(class="col-xs-6 col-sm-4")
                        div(class="shadowed-block sponsors__item")
                            a(class="sponsors__item-link", href="http://underground.vvsu.ru", target="_blank")
                                img(src="images/partners-underground.png")
