div(class="wrap") 

    div(class="sponsors", id="partners")
        div(class="row") 
            div(class="hidden-xs col-sm-2") 
                i(class="schedule-icon schedule-icon_sponsor")
            
            div(class="col-xs-12 col-sm-10") 
                h1(class="schedule-title") Партнеры и спонсоры

                div(class="row") 
                    div(class="col-xs-6 col-sm-4") 
                        div(class="shadowed-block sponsors__item") 
                            div(class="main-partner__badge main-partner__badge_sponsors") Генеральный партнер
                            div(style="width: 220px; height: 140px;") 
                        
                    
                    div(class="col-xs-6 col-sm-4") 
                        div(class="shadowed-block sponsors__item") 
                            div(class="main-partner__badge main-partner__badge_sponsors") Генеральный партнер
                            div(style="width: 220px; height: 140px;") 
                        
                    
                    div(class="col-xs-6 col-sm-4") 
                        div(class="shadowed-block sponsors__item") 
                            div(style="width: 220px; height: 140px;") 
                        
                    
                    div(class="col-xs-6 col-sm-4") 
                        div(class="shadowed-block sponsors__item") 
                            div(style="width: 220px; height: 140px;") 
                        
                    
                    div(class="col-xs-6 col-sm-4") 
                        div(class="shadowed-block sponsors__item") 
                            div(class="main-partner__badge main-partner__badge_sponsors") Генеральный партнер
                            div(style="width: 220px; height: 140px;") 
                        
                    
                    div(class="col-xs-6 col-sm-4") 
                        div(class="shadowed-block sponsors__item") 
                            div(style="width: 220px; height: 140px;")
