div(class="wrap")
    div(class="sponsors", id="partners")
    div(class="row")
        div(class="hidden-xs col-sm-2")
            i(class="schedule-icon schedule-icon_sponsor")

        div(class="col-xs-12 col-sm-10")
            h1(class="schedule-title") Партнеры и спонсоры

            div(class="row")
                div(class="col-xs-6 col-sm-4")
                    div(class="shadowed-block sponsors__item")
                        div(class="main-partner__badge main-partner__badge_sponsors") Генеральный партнер
                        a(class="sponsors__item-link", href="http://farpost.ru", target="_blank")
                            img(src="images/partners-farpost.png")

                div(class="col-xs-6 col-sm-4")
                    div(class="shadowed-block sponsors__item")
                        div(class="main-partner__badge main-partner__badge_sponsors") Генеральный партнер
                        a(class="sponsors__item-link", href="http://q-online.ru", target="_blank")
                            img(src="images/partners-q.png")

                div(class="col-xs-6 col-sm-4")
                    div(class="shadowed-block sponsors__item")
                        a(class="sponsors__item-link", href="http://mts.ru", target="_blank")
                            img(src="images/partners-mts.png")

                div(class="col-xs-6 col-sm-4")
                    div(class="shadowed-block sponsors__item")
                        a(class="sponsors__item-link", href="http://vladivostok.2gis.ru/", target="_blank")
                            img(src="images/partners-2gis.png"))

                div(class="col-xs-6 col-sm-4")
                    div(class="shadowed-block sponsors__item")
                        a(class="sponsors__item-link", href="http://kamagames.com/", target="_blank")
                            img(src="images/partners-kamagames.png"))


                div(class="col-xs-6 col-sm-4")
                    div(class="shadowed-block sponsors__item")
                        a(class="sponsors__item-link", href="http://barbers-shop.ru/", target="_blank")
                            img(src="images/partners-firma.png")


                div(class="col-xs-6 col-sm-4")
                    div(class="shadowed-block sponsors__item")
                        a(class="sponsors__item-link", href="http://vl.ru", target="_blank")
                            img(src="images/partners-vlru.png")

                div(class="col-xs-6 col-sm-4")
                    div(class="shadowed-block sponsors__item")
                        a(class="sponsors__item-link", href="http://underground.vvsu.ru", target="_blank")
                            img(src="images/partners-underground.png")

    br
    br
    #vacancy.vacancy
        .row
            .hidden-xs.col-sm-2
                i.schedule-icon.schedule-icon_vacancy
            .col-xs-12.col-sm-10
                h1.schedule-title Вакансии для разработчиков
                .main-partner.shadowed-block
                    .main-partner__logo
                        img(src='images/partners-mts.png', alt='МТС')
                    .main-partner__desc
                        .schedule-item__name МТС
                        p
                            a.main-partner__link(href='http://mts.ru') www.mts.ru
                        .main-partner__vac-desc
                            h3 Эксперт по SQL
                            Функционал:
                            ul
                                li Доработка системы отчетности и формирование аналитических выборок из БД (SQL PHP Perl JS bash);
                                li Администрирование БД MySQL;
                                li Эксплуатация биллинговой системы для фиксированной связи по городам ДВ (11 городов) (Linux CentOS + MySQL Oracle).
                            Требования:
                            ul
                                li базовые знания серверных UNIX операционных систем;
                                li уверенные знания языка SQL и опыт оптимизации сложных запросов;
                                li приветствуется опыт администрирования баз данных (MSSQL, MySQL, Oracle);
                                li приветствуется опыт web-программирования: PHP, Perl, JS, CSS, Ajax.

                            h3 Старший специалист отдела эксплуатации систем расчетов с абонентами
                            Функционал:
                            ul
                                li администрирование и поддержка биллинговой системы;
                                li работа с БД Oracle (формирование выборок, реализация хранимых процедур).
                            Требования:
                            ul
                                li опыт работы с SQL;
                                li опыт работы с *nix и Win системами от 1 года.

                            h3 Ведущий специалист по администрированию серверной инфраструктуры
                            Функционал:
                            ul
                                li поддержка работы mission critical и business critical систем;
                                li администрирование оборудования сетей хранения данных;
                                li администрирование серверов под управлением ОС Unix (Solaris, Linux);
                                li анализ производительности серверных систем и сетей хранения данных;
                                li выявление и устранение причин деградации производительности и неэффективно использования системных ресурсов.
                            Требования:
                            ul
                                li опыт администрирования Unix систем;
                                li опыт работы с системами резервного копирования;
                                li знание основных дисковых технологий (RAID);
                                li знание английского языка на уровне достаточном для чтения технической документации.

                            Мы предлагаем:
                            ul
                                li Конкурентную стабильную заработную плату и систему премирования;
                                li Обучение за счет компании;
                                li Возможность карьерного и профессионального роста, как на территории Дальнего Востока, так и всей России (перевод в рамках компании);
                                li Активную корпоративную жизнь: участие в тим-билдингах, творческих мастер-классах, спортивных мероприятиях, выездах на природу;
                                li Сотовую связь и мобильный интернет за счет компании МТС;
                                li Гарантии и компенсации в соответствии с законодательством РФ (в том числе: ежегодный оплачиваемый отпуск 36 календарных дней, оплата больничных листов, обязательное медицинское страхование и т. д.);
                                li Полис добровольного медицинского страхования (ДМС) с обслуживанием в лучших медицинских учреждениях города;
                                li Материальную помощь;

                            Просим направлять резюме на адрес
                                a (href='mailto:andrej.ushakov@mrdv.mts.ru') andrej.ushakov@mrdv.mts.ru
   