<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>VLDC</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="js/libs/colorbox.css">
</head>
<body>
<!-- Вся верстка и js только для православных браузеров ;) -->
<div class="l-wrap">
	<div class="l-page">
        <h1>Vladivostok developer conference #0</h1>
        <p><strong>Самое главное: 16 сентября, 20:00 <a href="http://maps.yandex.ru/?um=pR5I2SBhHBckp4aI3fUVjWpD8ufnwxBv&l=map%2Ccmr">ул. Светланская 55</a>, 501 кабинет</strong></p>
		<p>Это будет первая серьёзная попытка провести конференцию разработчиков во Владивостоке. До этого была первая несерьезная, в кафе, но было здорово!</p>
		<p>Принять участие в конференции может кто угодно, нужно лишь заполнить небольшую форму, ссылка на которую располагается чуть ниже.</p>
		<p>Участие в конференции совершенно бесплатное, но мы были бы очень рады, если каждый подготовит небольшой доклад на 5-10 минуток и поделится своим опытом, инструментами, взглядами на жизнь и на технологии. Никаких рамок для докладов нет! По мере поступления заявок мы будем формировать расписание.</p>
		<p>Что вас ожидает на VLDC? Прежде всего обмен опытом и знаниями, проектор для презентации вашего доклада, кофе-брейк с бутербродами и свежесваренным кофе! А после, можно пойти в бар и продолжить общение за кружечкой пива :)</p>
		<p>Приходите, готовьте доклады, будет весело!</p>
        <div class="feedback">
        	<button>Принять участие</button>
        	&larr; Вылетит птичка
        </div>
        <div class="hidden">
        <div class="feedback-form">
        	<form method="post">
        		<h2>Регистрация на VLDC #0</h2>
        		<label for="name">ФИО или ник:</label>
        		<input type="text" name="name" id="name" required />
        		<label for="email">Email:</label>
                <input type="email" name="email" id="email" />
                <label for="doc">Тема доклада, по желанию:</label>
                <input type="text" name="doc" id="doc"/>
                <input type="submit" value="Ну теперь уж точно принять участие">
        	</form>
        </div>
        </div>
	</div>	
</div>
<footer>
	<div class="l-footer">
		<h2>План такой:</h2>
		<dl>
			<dt>20:00 &mdash; 20:20</dt>
			<dd>Собираемся, знакомимся, усаживаемся поудобнее</dd>
			<dt>20:00 &mdash; 20:30</dt>
			<dd>Собираемся знакомимся, ждем опоздавших, улыбаемся и машем</dd>
		</dl>
	</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
<script src="js/libs/jquery.colorbox-min.js"></script>
<script src="js/script.js"></script>

<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
